<form name="step1Form" novalidate form-step-validity>
    <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
    <!-- Nombre -->
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" name="Nombre" class="form-control" ng-model="model.nombre" placeholder="Introduce tu nombre" required>
    </div>
    <!-- Apellidos -->
    <div class="form-group">
        <label>Apellidos</label>
        <input type="text" name="Apellidos" class="form-control" ng-model="model.apellidos" placeholder="Introduce tus apellidos" required>
    </div>
</form>